[App]
Host="0.0.0.0"
Port="7777"
DBUrl="xxx:xxx@(192.168.188.30:3306)/classes?charset=utf8mb4&parseTime=True&loc=Local"
RSAPriKey='''
-----BEGIN RSA PRIVATE KEY-----
MIICXQIBAAKBgQDZLcfh1OWKNYLHFbQ7olKMHHzmkVliZClHneBbzH5Bn5fOHhNY
PSjGE2u/H7l6Y52H/3piQnL4i/gQHpptmiNuAfIA6ZrzQ6i9VJ7Yw+d2b0+kt3Kg
fuJn9AqVw8pRsjM+IRMcfJ5oGcvBrGWawpNiMH6V+x2nhRgdMgHXF7OPjQIDAQAB
AoGBAMi4ERZdB1B3KEkLfCnpWdV4ts754tyWqbgw55ywILhR4aF0Fnjk/Xwjkt9v
WKMO0hdRPTD3LP8djcSIJD3LyZU7ZSrRW4yIIjNHJpRLTwmEd5UlnLm4LHDKToaj
09DU4zZJNdX7UFrVvKIexSfsRDdbY2XPP6JuW3InIxBgHPqZAkEA/X4hjYvkE+cS
hRtEESezdoq01USMtBdg5bdb5H8+glUpfOn8r5Zn37zsbsMYElbcjPwXGA7y5fhu
nSt/WIGD1wJBANtTswnEXEEQsnRzOgGTjqZMAE194pvPem2edmT52v8pNMlNgEMT
jjhrmN0AuZw16dE2S4Pg8TRYecgD5fBRmzsCQCY8CRmNeRhbaRq0kx63S0VdBIuK
bGKZiB79+hlL7ATCjaButpNRb1d66nqGaLITce6980nIr3BqeVyxe+LAnj8CQAj3
L+9rRnYmb5URDML5vDASFUUVq0jBP3jxrFdOW2Ro086Sy3ZyezLVOyd1myDGl2tE
8+tNK67/GuNRPXoIa/cCQQCDpu++hdq2RJOaJs84AEuVJj8iLhVptlR3hBbjvnXY
sv+UAVSqQmXVXbk+Gj7obqjfAXr5ZPQeUYeq2T6uSP/q
-----END RSA PRIVATE KEY-----'''
RSAPubKey='''
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZLcfh1OWKNYLHFbQ7olKMHHzm
kVliZClHneBbzH5Bn5fOHhNYPSjGE2u/H7l6Y52H/3piQnL4i/gQHpptmiNuAfIA
6ZrzQ6i9VJ7Yw+d2b0+kt3KgfuJn9AqVw8pRsjM+IRMcfJ5oGcvBrGWawpNiMH6V
+x2nhRgdMgHXF7OPjQIDAQAB
-----END PUBLIC KEY-----'''
MaxAccessTokenMinute=15
MaxRefreshTokenMinute=1440
AllowCORS=true # Allow Cross Origin Resource Share
TotalDistance=3000

