<!-- /views/admin/master.html -->
<!doctype html>
<html>
    <head>
        <title>{{.title}}</title>
        {{include "layouts/header"}}
    </head>
    <!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
    <body class="hold-transition skin-blue layout-top-nav">
        {{include "layouts/wrapper_header"}}
        {{template "content" .}}
        {{include "layouts/wrapper_footer"}}
        {{include "layouts/footer"}}
    </body>
</html>