{{define "content"}}
  <!-- Full Width Column -->
  <div class="content-wrapper">
	<div class="container">
		<!-- Content Header (Page header) -->
		<section class="content-header">
		<h1>
			Novel Detail
			<small>version 1.0</small>
		</h1>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{{.novel.Title}}</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
					<div class="box-body">
						<strong><i class="fa fa-book margin-r-5"></i> 作者</strong>
						<p class="text-muted">
							{{.novel.Anthor}}
						</p>
						<hr>
						<strong><i class="fa fa-map-marker margin-r-5"></i> 简介</strong>
						<p class="text-muted">{{.novel.Intro}}</p>
						<hr>
						<strong><i class="fa fa-pencil margin-r-5"></i> 章节:</strong>
						<p></p>
						<p>
							<div class="box-body no-padding">
								<table class="table table-condensed">
									<tbody>
								{{ range .details }}									
									<tr>
									{{ range .}}
									<td>{{.}}</td>
									{{end}}
									</tr>
								{{end}}
								</tbody></table>
							</div>
						</p>
						<hr>
						<strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
					</div>
			</div>
			</div>
		<!-- /.box -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.container -->
	</div>
{{end}}